@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




@layer utilities {
  /* حجم الـ Scrollbar */
  
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* لون الخلفية */
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* لون المقبض */
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background:#c084fc;
    border-radius: 10px;
  }

  /* لون المقبض عند التحويم */
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #c084fc;
  }
  @supports not selector( ::-webkit-scrollbar){
    .scrollbar-firefox {
    scrollbar-width: thin; /* اجعل التمرير نحيف */
    scrollbar-color: #c084fc #f1f1f1; /* لون المقبض والمسار */
  }
}
  

}


